<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="FacesContainerName" value="faces" />
    <add key="FaceApiPersonGroupName" value="emcappemployee" />
    <add key="DocumentDbEndpoint" value="https://smrtmeetdevi7v3j2pn2fltq.documents.azure.com:443" />
    <add key="DocumentDbKey" value="2EIAc3MLslFcCD432IyUmjR1CjsA2JmTe2pfKm3NPN3eTw8uQ1qyaPwoEWrAgMdPlyMXk49u4HfsUOF3O7lglA==" />
    <add key="DocumentDbDatabaseName" value="smartmeeting" />
    <add key="EmployeesCollectionName" value="employees" />
    <add key="DevicesCollectionName" value="devices" />
    <add key="CalendersCollectionName" value="calenders" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>
    <add name="StorageConnectionString" connectionString="DefaultEndpointsProtocol=https;AccountName=smrtmeetdevi7v3j2pn2fltq;AccountKey=zGduhSIyRJgJQDHlOigeo4aWDdkAhbNjwne6Y7J+BXmJ3hxvdHdOaAl/5lDUp3ekRilkxzS6j9H4czQ1e/IcaQ==" />
    <add name="FaceApiKey" connectionString="d72f14ec357844298d80045f34cb9180" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.1.0" newVersion="5.8.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.1.0" newVersion="5.8.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.1.0" newVersion="5.8.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Azure.KeyVault.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>